:root {
  --darkblue: #13252B;
  --almostblack: #0c1a1f;
  --lightblue: #C0F3FF;
  --blue: #6283A4;
}
html{
  background-color: var(--lightblue);
  color: white;
  font-family: 'Raleway', sans-serif;
  margin: 0px;
  padding: 0px
}
.app{
  height: auto;
  border-radius: 2em;
  background-color: var(--darkblue);
  box-shadow: 0px 0px 20px black;
  width: 25em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container{
  padding: 20px;
  text-align: center;
}
.logo{
  width: 10em;
}
.title{
  color: white;
  font-size: 1.8em;
}
form{
  margin-top: 1em;
}
label input{
  background: none;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid var(--lightblue);
  width: 60%;
  color: white;
}
label input:focus{
  outline: none;
  border-bottom: 1px solid var(--blue);
  color: white;
}
form p{
  color: var(--lightblue);
}
.invio{
  background-color: var(--blue);
  border: none;
  border-radius: 2em;
  height: 30px;
  width: 100px;
  margin-top: 3em;
  color: white;
}
.info{
  position: absolute;
  bottom: 10px;
  left: 0px;
  font-size: 0.7em;
  color: var(--blue);
  text-align: center;
  width: 100%;
}